certifi==2024.7.4
Flask==3.0.3
Flask-Cors==3.0.10
Flask-SocketIO==5.4.1
numpy==1.23.5
numpydoc==1.7.0
openai==1.52.1
openai-whisper==20240930
pandas==1.5.3
pandasql==0.7.3
pymongo==4.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.86.0